
.inicio{
    width: 100%;
    background-image: linear-gradient(to right,
        #8C52FF,
        #5CE1E6);
}

#apresentacao {
    padding-top: 8rem;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Define a altura da seção para ocupar toda a altura da página */
}

