@media screen and (min-width: 100px) and (max-width: 1028px) {
    
    
        .ul a {
            font-size: 1rem;
            text-decoration: none;
        }

        


.inicio {
    width: 100%;
    
}

        #apresentacao {
            padding-top: 5rem;
            padding-left: 40px;
            padding-right: 40px;
        }


    .perfil {
        width: 130px;
    }

    .title {
        padding-top: 60px;
        font-size: 25pt;
    }

    .texto-apretacao {
        font-size: 17pt;
    }

        
    
        #corpo {
            display: block;
        }

        .corpo {
            padding-top: 60px;
            padding-right: 30px;
            padding-left: 30px;
        }

        .title-vivencias {
            padding-top: 40px;
            text-align: center;
        }

        .texto {
            padding-top: 30px;
          font-size: 17pt;
        }

         
        .vivencias-img {
           display: none;
        }

         
        .vivencias-img-mobile {
            display: block;
            width: 250px;
            padding-left: 20px;
            margin: auto;
        }


        }
        




        

    


    
