#projetos {
    padding-left: 140px;
}

.title-projetos {
    display: inline;
}

#projetos h2 {
    font-weight: 900;
    font-size: 25pt;
    padding-top: 20px;
    padding-bottom: 40px;
    
}


.projetos img {
    width: 229px;
}
.projeto h3 {
    font-size: 12pt;
    font-weight: 700;
}


@media screen and (min-width: 100px) and (max-width: 900px) {
    #projetos {
        display: block;
            padding: 10px;

    }

    .projetos{
        text-align: center;
    }
}