* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --texto-branco:#fff;
    --texto-preto: #000;
}

.header {
    background-color: #8C52FF;
}
.dropdown-item img {
    width: 30px;
    
}

.caixa-apresentacao {
    text-align: center;
}

.seta {
    width: 50px;
}


.title {
    font-size: 40pt;
}

.texto-apretacao {
    font-size: 23pt;
}


.perfil {
    border-radius: 50%;
}

.biblioquilombola h2 {
    padding-top: 20px;
}

.biblioquilombola img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.texto-biblioquilombola{
    padding: 0.5rem 12rem 30px 12rem;

}




#inicio-page {
    padding-bottom: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio-page {

    padding-left: 12.5rem;
    margin-right: 1.25rem;
}

.vivencias-img {
    padding-top: 9.75rem;
    padding-right: 12.5rem;
    width: 30rem;
}

.title-vivencias {
    padding-top: 40px;
    text-align: center;
}

.vivencias-img-mobile {
    display: none;
}



.texto {
    padding-top: 50px;
    font-size: 18pt;
    text-align: justify;
}

footer {
    background-image: linear-gradient(to right, #8C52FF, #5CE1E6);
    text-align: center;
}

footer a  {
    color: var(--texto-branco);
}

footer p {
    margin: 0;
    color: var(--texto-branco);
}



@media screen and (min-width: 100px) and (max-width: 1028px) {

    
    
    
    
    .ul a {
        font-size: 1rem;
        text-decoration: none;
    }

    


.inicio {
width: 100%;

}



.perfil {
    width: 150px;
}

.title {
    padding-top: 60px;
    font-size: 25pt;
}

.texto-apretacao {
    font-size: 12pt;
}


.biblioquilombola .texto {
   
    padding: 40px;
}

.biblioquilombola img {
    width: 80%;
    
}
    

    #inicio-page {
        display: block;
    }

    .inicio-page{
        padding-top: 60px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .title-vivencias {
        padding-top: 40px;
        text-align: center;
    }

    .texto {
        padding-top: 30px;
      font-size: 17pt;
    }

     
    .vivencias-img {
       display: none;
    }

     
    .vivencias-img-mobile {
        display: block;
        width: 250px;
        padding-left: 20px;
        margin: auto;
    }


    }
    

    @media (max-width: 600px) {
        #apresentacao {
            padding-top: 5rem;
            padding-left: 5rem;
            padding-right: 5rem;
            justify-content: center;
            align-items: center;
            height: 100vh;
            /* Define a altura da seção para ocupar toda a altura da página */
        }
        
      }




    





